rasa==3.6.21
rasa-sdk==3.6.2
python-dotenv
groq
tavily-python
duckduckgo-search
openpyxl
python-docx
reportlab
pypdf
pillow
pillow-heif
piexif
qrcode
python-barcode
pytesseract
speedtest-cli
sympy
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
msal
beautifulsoup4
edge-tts
gTTS
youtube-transcript-api
parsedatetime
aiohttp-retry
psutil
